.article {
  &__container {
    @include flexStartBetween;
    column-gap: 40px;
  }

  &__asides {
    width: 340px;
    flex-shrink: 0;
    @include flexColumn;
    row-gap: 24px;
    position: sticky;
    top: 0;
  }

  &__content {
    @include flexColumn;
    row-gap: 40px;
  }

  h1 {
    @include h1;
    margin-bottom: 32px;
  }
}
