.search-query {
  margin-top: 200px;

  &__container {
    @include flexColumn;
    row-gap: 40px;
  }

  &__form {
    @include flexStretchBetween;
    column-gap: 24px;
  }

  &__input {
    width: 100%;
  }

  &__btn {
    width: fit-content;
    min-width: fit-content;
  }

  &__result {
    @include regular14;
    color: $greyTxt;

    &.not-found {
      @include h2;
      margin: 0;
    }
  }

  &__content {
    max-width: 740px;
  }

  &__blocks {
    @include flexColumn;
    row-gap: 24px;

    li {
      padding-bottom: 22px;
      border-bottom: 1px solid $greyDivider;

      h3 {
        @include bold20;
        margin-bottom: 16px;
      }

      p {
        @include regular14;
        @include croppingText(2);
        margin-bottom: 12px;
      }

      a {
        @include regular14;
        color: $accent;
        @include transition(color);
        word-break: break-all;

        @include hover {
          color: $redHover;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .search-query {
    margin-top: 124px;

    &__container {
      row-gap: 32px;
    }

    &__blocks {
      li p {
        -webkit-line-clamp: 3;
      }
    }

    &__content {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: $mob) {
  .search-query {
    margin-top: 96px;

    &__blocks li {
      p {
        -webkit-line-clamp: 6;
      }

      h3 {
        font-size: 16px;
      }
    }
  }
}
