.baner {
  background-color: $grayBg;
  overflow: hidden;

  &__content {
    @include flexCenter;
  }
}

.baner--main {
  padding-top: 40px;

  .baner {
    &__img {
      @include sizes(464px, 450px);
      flex-shrink: 0;
    }

    &__content {
      column-gap: 150px;
      padding-right: 45px;
    }

    &__subtitle {
      @include regular20;
      text-wrap: balance;
    }

    &__cont {
      @include flexColumn;
      row-gap: 24px;
      max-width: 360px;
      position: relative;
      top: -20px;
    }
  }
}

.baner--service {
  .baner {
    &__container {
      display: flex;
      column-gap: 40px;
      align-items: flex-start;
    }

    &__content {
      @include flexColumn;
      row-gap: 32px;
      align-items: flex-start;
    }

    &__items {
      @include flexColumn;
      row-gap: 20px;
    }

    &__item {
      @include flexCenterStart;
      column-gap: 12px;
    }

    &__txt {
      @include regular14;
      color: $greyTxt;
      text-wrap: balance;
    }

    &__icon {
      @include sizes(40px, 40px);
      @include flexCenter;
      border-radius: 4px;
      background-color: $white;
      padding: 8px;
      flex-shrink: 0;

      img {
        @include sizes(24px, 24px);
        object-fit: contain;
      }
    }

    &__img {
      @include sizes(460px, 520px);
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: $laptop) {
  .baner--main {
    .baner {
      &__content {
        column-gap: 115px;
        padding-right: 12px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .baner {
    .container {
      max-width: 100%;
      padding: 0;
    }
  }

  .baner--main {
    padding-top: 33px;

    .baner {
      &__img {
        @include sizes(400px, 393px);
        margin-bottom: -6px;
        margin-left: -6px;
      }

      &__cont {
        column-gap: 54px;
        max-width: 100%;
        width: 280px;
        flex-shrink: 0;
      }

      &__content {
        padding-right: 40px;
        column-gap: 54px;
      }

      &__subtitle {
        font-size: 14px;
        line-height: 130%;
      }
    }
  }

  .baner--service {
    .baner {
      &__img {
        @include sizes(306px, 347px);
      }

      &__container {
        align-items: flex-end;
      }

      &__content {
        padding-bottom: 80px;
      }
    }

    .container {
      padding-left: 40px;
    }

    .h1 {
      font-size: 28px;
      line-height: 125%;
    }
  }
}

@media screen and (max-width: $mob) {
  .baner--main {
    .baner {
      padding: 40px 16px 0;
      &__content {
        padding: 0;
        flex-direction: column-reverse;
        row-gap: 22px;
      }

      &__img {
        @include sizes(233px, 230px);
        margin: 0 auto;
      }

      &__cont {
        top: 0;
        width: 100%;
      }
    }
  }

  .baner--service {
    .baner {
      &__img {
        display: none;
      }

      &__content {
        padding-bottom: 60px;
        row-gap: 24px;
      }

      .h1 {
        font-size: 32px;
      }
    }

    .container {
      padding: 0 16px;
    }
  }
}
