.order-us {
  .h2 {
    margin-bottom: 32px;
  }

  &__items {
    @include grid(3);
    grid-auto-rows: minmax(272px, 1fr);
    grid-gap: 20px;

    li {
      border-radius: 8px;
      background: $grayBg;
      padding: 24px;

      img {
        @include sizes(32px, 32px);
        margin-bottom: 40px;
      }

      b {
        @include medium20;
        margin-bottom: 12px;
        display: block;
      }

      p {
        @include regular14;
        color: $greyTxt;
        text-wrap: balance;
      }
    }
  }
}

.order-us--about {
  .order-us {
    &__items li {
      background-color: transparent;
      border: 1px solid $greyDivider;

      &:last-child {
        background-color: $accent;
        border-color: $accent;

        p,
        b {
          color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .order-us {
    &__items {
      @include grid(2);
    }
  }
}

@media screen and (max-width: $mob) {
  .order-us {
    .h2 {
      margin-bottom: 24px;
    }

    &__items {
      @include grid(1);
      grid-auto-rows: minmax(230px, 1fr);

      li {
        padding: 20px;

        b {
          @include bold16;
        }
      }
    }
  }

  .order-us--about {
    .order-us {
      &__items {
        grid-auto-rows: auto;

        li img {
          margin-bottom: 16px;
        }
      }
    }
  }
}
