.questions {
  .h2 {
    margin-bottom: 32px;
  }

  .h1 {
    margin-bottom: 40px;
  }

  &__block {
    @include mb(20px);
    border-radius: 8px;
    border: 1px solid $greyDivider;
    cursor: pointer;
  }

  &__block-inner {
    @include flexCenterBetween;
    cursor: pointer;
    padding: 24px;

    @include hover {
      svg {
        stroke: $accent;
      }

      .questions__block-question {
        color: $accent;
      }
    }

    &.active {
      svg {
        transform: rotate(180deg);
        stroke: $accent;
      }

      .questions__block-question {
        color: $accent;
      }
    }
  }

  &__block-question {
    @include bold16;
    max-width: 780px;
    @include transition(color);
  }

  &__block-arrow {
    @include sizes(20px, 20px);
    flex-shrink: 0;

    svg {
      transition:
        stroke 0.2s ease,
        transform 0.2s ease;
      fill: none;
      stroke: $greyTxt;
      stroke-width: 1.5px;
    }
  }

  &__block-content {
    padding: 0 24px 24px;
    max-width: 780px;
    display: none;

    p {
      color: $greyTxt;
    }
  }
}

@media screen and (max-width: $tablet) {
  .questions {
    &__block-question,
    &__block-content {
      max-width: 588px;
    }

    &__block-inner {
      align-items: flex-start;
    }
  }
}

@media screen and (max-width: $mob) {
  .questions {
    &__block {
      @include mb(16px);
    }

    .h2 {
      margin-bottom: 24px;
    }

    &__block-inner {
      padding: 20px;
    }

    &__block-content {
      max-width: 100%;
      padding: 0 20px 20px;
    }

    &__block-question {
      font-size: 14px;
      max-width: 90%;
    }
  }
}
