/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Light"), local("../assets/fonts/GraphikLCG/Graphik-LCG-Light"), url("../assets/fonts/GraphikLCG/GraphikLCG-Light.woff2") format("woff2"), url("../assets/fonts/GraphikLCG/GraphikLCG-Light.woff") format("woff"), url("../assets/fonts/GraphikLCG/GraphikLCG-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Regular"), local("../assets/fonts/GraphikLCG/Graphik-LCG-Regular"), url("../assets/fonts/GraphikLCG/GraphikLCG-Regular.woff2") format("woff2"), url("../assets/fonts/GraphikLCG/GraphikLCG-Regular.woff") format("woff"), url("../assets/fonts/GraphikLCG/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Medium"), local("../assets/fonts/GraphikLCG/Graphik-LCG-Medium"), url("../assets/fonts/GraphikLCG/GraphikLCG-Medium.woff2") format("woff2"), url("../assets/fonts/GraphikLCG/GraphikLCG-Medium.woff") format("woff"), url("../assets/fonts/GraphikLCG/GraphikLCG-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Semibold"), local("../assets/fonts/GraphikLCG/Graphik-LCG-Semibold"), url("../assets/fonts/GraphikLCG/GraphikLCG-Semibold.woff2") format("woff2"), url("../assets/fonts/GraphikLCG/GraphikLCG-Semibold.woff") format("woff"), url("../assets/fonts/GraphikLCG/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PF Agora Sans Pro";
  src: local("PF Agora Sans Pro Medium"), local("../assets/fonts/PFAgoraSansPro/PF-Agora-Sans-Pro-Medium"), url("../assets/fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.woff2") format("woff2"), url("../assets/fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.woff") format("woff"), url("../assets/fonts/PFAgoraSansPro/PFAgoraSansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("../assets/fonts/Gilroy/Gilroy-Bold"), url("../assets/fonts/Gilroy/Gilroy-Bold.woff2") format("woff2"), url("../assets/fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../assets/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-animation: bugfix infinite 1s;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scrollbar-gutter: auto;
}

body {
  font-family: "Graphik LCG", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #241f20;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background: #fff;
}
body.ov-hidden {
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

textarea {
  resize: none;
}

svg {
  width: 100%;
  height: 100%;
  stroke-linejoin: round;
  stroke-linecap: round;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  max-width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
}

.section {
  margin-top: 120px;
}

@media screen and (max-width: 1198px) {
  .section {
    margin-top: 100px;
  }
}
@media screen and (max-width: 766px) {
  .container {
    padding: 0 16px;
  }
  .section {
    margin-top: 60px;
  }
}
.logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-column-gap: 6.5px;
  -moz-column-gap: 6.5px;
  column-gap: 6.5px;
  padding: 7.5px 0;
}
.logo svg {
  width: 25px;
  height: 25px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.logo span {
  font-family: Gilroy, sans-serif;
  font-size: 14.5px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
}
.socials a {
  width: 24px;
  height: 24px;
}
.socials svg {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
}
@media (any-hover: hover) {
  .socials__whatsapp:hover svg {
    fill: #25d366;
  }
}
@media (any-hover: hover) {
  .socials__viber:hover svg {
    fill: #7d3daf;
  }
}
@media (any-hover: hover) {
  .socials__telegram:hover svg {
    fill: #2fa6da;
  }
}

.h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 40px;
  color: #241f20;
}
@media screen and (max-width: 1198px) {
  .h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 766px) {
  .h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1918px) {
  .h2 {
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 766px) {
  .h2 {
    margin-bottom: 24px;
  }
}
.btn {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  padding: 14px 24px 12px 24px;
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 155px;
  cursor: pointer;
  display: block;
  text-align: center;
}
.btn span {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.btn-prim {
  background-color: #dc143c;
}
.btn-prim span {
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  color: #fff;
}
@media (any-hover: hover) {
  .btn-prim:not(:disabled):hover {
    background-color: #ff1a47;
  }
}
.btn-prim:not(:disabled):active {
  background-color: #ba1133;
}
.btn-prim:disabled {
  background-color: #eeeff1;
  cursor: default;
}
.btn-prim:disabled span {
  color: #979596;
}

@media screen and (max-width: 766px) {
  .btn {
    width: 100%;
    min-width: 100%;
  }
}
.card-about {
  padding: 24px;
  border-radius: 8px;
  background-color: #f7f7f7;
}
.card-about img {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: #dc143c;
  margin-bottom: 20px;
  display: block;
}
.card-about b {
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  display: block;
  margin-bottom: 12px;
}
.card-about p {
  font-size: 14px;
  line-height: 130%;
  text-wrap: balance;
  color: #555152;
}
.card-about p:last-child {
  padding-bottom: 4px;
}

@media screen and (max-width: 766px) {
  .card-about {
    padding: 20px;
  }
  .card-about p:last-child {
    padding: 0;
  }
}
.content p {
  font-size: 14px;
  line-height: 130%;
  text-wrap: balance;
}
.content p:not(:last-child) {
  margin-bottom: 8px;
}

.card {
  border-radius: 8px;
  position: relative;
  height: 280px;
}
.card__img {
  width: 100%;
  height: 207px;
}
.card__img img {
  border-radius: 8px 8px 0 0;
}
.card__content {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 90%;
  left: 0;
  bottom: 0;
  border-radius: 0 0 8px 8px;
  padding: 24px;
  background-color: #f7f7f7;
  position: absolute;
  overflow: hidden;
}
.card__content-tit {
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;
}
@media screen and (max-width: 1198px) {
  .card__content-tit {
    font-size: 16px;
  }
}
.card__content-txt {
  font-size: 14px;
  line-height: 130%;
  padding: 12px 0 10px;
  display: none;
  overflow: hidden;
  max-height: calc(100% - 12px);
  color: #555152;
}

@media screen and (max-width: 1198px) {
  .card {
    height: 275px;
  }
  .card__content {
    height: 182px;
  }
  .card__img {
    height: 95px;
  }
  .card__content-txt {
    display: block;
  }
}
@media screen and (max-width: 766px) {
  .card {
    height: 287px;
  }
  .card__content {
    padding: 20px;
    height: 192px;
  }
  .card__content-txt {
    padding: 12px 0;
  }
}
.footer {
  background-color: #232628;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: 1px solid #393a3d;
}
.footer__logo svg {
  fill: #fff;
}
.footer__logo span {
  color: #fff;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  padding-left: 22px;
}
.footer__item a {
  font-size: 14px;
  line-height: 130%;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
  color: #fff;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}
@media (any-hover: hover) {
  .footer__item a:hover {
    border-color: #fff;
  }
}
.footer__center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  padding: 40px 0;
  border-bottom: 1px solid #393a3d;
}
.footer__center-tit {
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
  color: #fff;
  margin-bottom: 12px;
}
.footer__center-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__center-left .footer__center-links {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
.footer__center-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
}
.footer__center-stars svg {
  width: 24px;
  height: 24px;
  fill: #fdb400;
}
.footer__center-socials {
  margin-top: 12px;
}
.footer__center-socials svg {
  width: 24px;
  height: 24px;
  fill: rgba(255, 255, 255, 0.4);
}
.footer__center-contacts .socials {
  display: none;
}
.footer__center-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  min-height: 108px;
  padding-left: 22px;
  padding-top: 5px;
}
.footer__center-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.footer__center-time .footer__center-links {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.footer__center-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 8px;
}
.footer__center-links a,
.footer__center-links span {
  font-size: 14px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.4);
}
@media (any-hover: hover) {
  .footer__center-links a:hover {
    color: #fff;
  }
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 32px 0;
}
.footer__bottom-txt {
  font-size: 12px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.4);
}
@media (any-hover: hover) {
  .footer__bottom-txt a:hover {
    color: #fff;
  }
}

@media screen and (max-width: 1918px) {
  .footer__center-right {
    padding-top: 0;
  }
}
@media screen and (max-width: 1198px) {
  .footer__items {
    padding: 0;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .footer__center {
    padding: 32px 0;
  }
  .footer__center-right {
    padding-left: 10px;
    -webkit-column-gap: 52px;
    -moz-column-gap: 52px;
    column-gap: 52px;
  }
  .footer__center-links {
    row-gap: 10px;
  }
  .footer__center-links a,
  .footer__center-links span {
    font-size: 12px;
  }
  .footer__bottom {
    padding: 20px 0;
  }
  .footer__center-tit {
    font-size: 14px;
    font-weight: 400;
  }
}
@media screen and (max-width: 766px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 32px 0 20px;
  }
  .footer__items {
    row-gap: 8px;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 18px;
    border-top: 1px solid #393a3d;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__center {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0;
  }
  .footer__center-links {
    row-gap: 8px;
  }
  .footer__center-left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    row-gap: 16px;
    padding-top: 20px;
    border-top: 1px solid #393a3d;
  }
  .footer__center-left .footer__center-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__center-right {
    padding: 0 0 20px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 18px;
  }
  .footer__center-contacts .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__center-time .socials {
    display: none;
  }
  .footer__center-socials {
    margin-top: 18px;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    row-gap: 16px;
  }
}
.accounting-services__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-column-gap: 115px;
  -moz-column-gap: 115px;
  column-gap: 115px;
  margin-bottom: 32px;
}
.accounting-services__txts {
  max-width: 740px;
  padding: 4px 0;
}
.accounting-services__txts p {
  color: #555152;
}
.accounting-services__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 1198px) {
  .accounting-services__cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    row-gap: 20px;
  }
  .accounting-services__txts {
    padding: 0;
    max-width: 100%;
  }
  .accounting-services__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 766px) {
  .accounting-services__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .accounting-services__cont {
    margin-bottom: 24px;
  }
}
.team-tasks__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 1198px) {
  .team-tasks__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 766px) {
  .team-tasks__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.bussines-partners__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 1918px) {
  .bussines-partners__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 766px) {
  .bussines-partners__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}