@mixin regular14 {
  font-size: 14px;
  line-height: 130%;
}

@mixin regular20 {
  font-size: 20px;
  line-height: 125%;
}

@mixin regular16 {
  font-size: 16px;
  line-height: 130%;
}

@mixin bold20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.2px;
}

@mixin medium20 {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

@mixin secondary12 {
  font-size: 12px;
  line-height: 140%;
}

@mixin bold16 {
  font-size: 16px;
  font-weight: 500;
  line-height: 125%;
}

@mixin medium40 {
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.4px;
}

@mixin medium26 {
  font-size: 26px;
  font-weight: 500;
  line-height: 125%;

  @media screen and (max-width: $mob) {
    font-size: 20px;
  }
}

@mixin h1 {
  font-family: 'PF Agora Sans Pro', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 110%;

  @media screen and (max-width: $tablet) {
    font-size: 32px;
  }
}

@mixin h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 40px;

  @media screen and (max-width: $tablet) {
    font-size: 28px;
  }

  @media screen and (max-width: $mob) {
    font-size: 24px;
  }
}

@mixin h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 125%;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
  }
}
