.beneficial {
  .h2 {
    margin-bottom: 32px;
  }

  &__items {
    @include grid(4);
    grid-auto-rows: 1fr;
    grid-gap: 20px;

    li {
      padding: 24px;
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid $greyDivider;

      img {
        @include sizes(32px, 32px);
        margin-bottom: 20px;
      }

      b {
        @include medium20;
        margin-bottom: 12px;
        display: block;
      }

      p {
        @include regular14;
        color: $greyTxt;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .beneficial {
    &__items {
      @include grid(2);
    }
  }
}

@media screen and (max-width: $mob) {
  .beneficial {
    .h2 {
      margin-bottom: 24px;
    }

    &__items {
      @include grid(1);

      li {
        padding: 20px;

        b {
          @include bold16;
        }
      }
    }
  }
}
