<section class="bussines-partners section">
  <div class="container">
    <div class="bussines-partners__container">
      <h2 class="h2">Бизнес-партнеры</h2>
      <ul class="bussines-partners__items">
        <li>
          <img src="assets/img/bussines-partners/priorbank.svg" alt="" />
        </li>
        <li>
          <img src="assets/img/bussines-partners/legal-technologies.svg" alt="" />
        </li>
        <li>
          <img src="assets/img/bussines-partners/bsb-bank.svg" alt="" />
        </li>
        <li>
          <img src="assets/img/bussines-partners/bay-arenda.svg" alt="" />
        </li>
        <li>
          <img src="assets/img/bussines-partners/vtb-bank.svg" alt="" />
        </li>
        <li>
          <img src="assets/img/bussines-partners/belinvestbank.svg" alt="" />
        </li>
        <li>
          <img src="assets/img/bussines-partners/sberbank.svg" alt="" />
        </li>
        <li>
          <img src="assets/img/bussines-partners/belagro.svg" alt="" />
        </li>
        <li>
          <img src="assets/img/bussines-partners/bank-dabrab.svg" alt="" />
        </li>
        <li>
          <img src="assets/img/bussines-partners/web-focus.svg" alt="" />
        </li>
      </ul>
    </div>
  </div>
</section>
