<div class="headings">
  <a class="active" href="#">
    <span>#Все</span>
    <span>24</span>
  </a>
  <a href="#">
    <span>#Бизнес</span>
    <span>12</span>
  </a>
  <a href="#">
    <span>#Документы</span>
    <span>3</span>
  </a>
  <a href="#">
    <span>#Налогообложение</span>
    <span>16</span>
  </a>
  <a href="#">
    <span>#ИП</span>
    <span>7</span>
  </a>
  <a href="#">
    <span>#ООО</span>
    <span>5</span>
  </a>
  <a href="#">
    <span>#Бухгалтерские услуги</span>
    <span>12</span>
  </a>
  <a href="#">
    <span>#Все</span>
    <span>31</span>
  </a>
  <a href="#">
    <span>#Дело с нуля</span>
    <span>3</span>
  </a>
  <a href="#">
    <span>#Регистрация</span>
    <span>11</span>
  </a>
</div>
