<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-container">
        <div class="header__top-location">
          <svg>
            <use xlink:href="assets/img/sprite.svg#location"></use>
          </svg>
          <p>Минск, ул. Янки Купалы, д. 11, пом. 1Н</p>
        </div>
        <a href="#" class="header__logo logo">
          <svg>
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
          <span>otchet.by</span>
        </a>
        <div class="header__top-panel">
          <div class="header__top-time">Пн-Пт: 8:30-20:00</div>
          <a href="mailto:info@otchet.by" class="header__top-email"> info@otchet.by </a>
          <div class="header__top-search">
            <form class="header__top-form js-search-form">
              <input class="header__top-input" type="text" autocomplete="off" placeholder="Что ищите?" />
              <button type="submit">
                <span>Искать</span>
              </button>
            </form>
            <div class="header__top-search-btns">
              <button type="button" class="header__top-search-btn js-search-open">
                <svg>
                  <use xlink:href="assets/img/sprite.svg#search"></use>
                </svg>
              </button>
              <button type="button" class="header__top-search-btn js-search-close">
                <svg>
                  <use xlink:href="assets/img/sprite.svg#search-close"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="header__top-socials socials js-header-socials">
            <a href="#" class="socials__whatsapp">
              <svg>
                <use xlink:href="assets/img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
            <a href="#" class="socials__viber">
              <svg>
                <use xlink:href="assets/img/sprite.svg#viber"></use>
              </svg>
            </a>
            <a href="#" class="socials__telegram">
              <svg>
                <use xlink:href="assets/img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </div>
          <a href="tel:+375447178585" class="header__top-phone"> +375 (44) 717 85 85 </a>
          <div class="header__top-burger">
            <button type="button" class="header__top-burger-btn js-burger-open">
              <svg>
                <use xlink:href="assets/img/sprite.svg#burger"></use>
              </svg>
            </button>
            <button type="button" class="header__top-burger-btn js-burger-close">
              <svg>
                <use xlink:href="assets/img/sprite.svg#burger-close"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-container">
        <a href="#" class="header__logo logo">
          <svg>
            <use xlink:href="assets/img/sprite.svg#logo"></use>
          </svg>
          <span>otchet.by</span>
        </a>
        <nav class="header__bottom-menu">
          <ul class="header__bottom-list hover">
            <li class="header__bottom-item js-header-link">
              <a href="#">Бухгалтерские услуги</a>
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
              <ul class="header__bottom-links js-header-links">
                <li class="header__bottom-link js-header-sublink">
                  <div class="header__bottom-sublink">
                    <p>Аутсорсинг бухгалтерских услуг</p>
                    <svg>
                      <use xlink:href="assets/img/sprite.svg#arrow-header"></use>
                    </svg>
                    <ul class="header__bottom-submenu js-header-sublinks">
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Могилеве и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Бресте и области </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Абонентское бухгалтерское и налоговое обслуживание </a>
                </li>
                <li class="header__bottom-link js-header-sublink">
                  <div class="header__bottom-sublink">
                    <p>Налоговое консультирование</p>
                    <svg>
                      <use xlink:href="assets/img/sprite.svg#arrow-header"></use>
                    </svg>
                    <ul class="header__bottom-submenu js-header-sublinks">
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Ведение бухгалтерского и налогового учета </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Бухгалтерские консультации </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Бухгалтерские услуги при УСН </a>
                </li>
                <li class="header__bottom-link js-header-sublink">
                  <div class="header__bottom-sublink">
                    <p>Бухгалтерские услуги для ООО</p>
                    <svg>
                      <use xlink:href="assets/img/sprite.svg#arrow-header"></use>
                    </svg>
                    <ul class="header__bottom-submenu js-header-sublinks">
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Бухгалтерские услуги для ИП </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Ревизия бухгалтерского и налогового учета </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Восстановление бухгалтерского учёта </a>
                </li>
                <li class="header__bottom-link js-header-sublink">
                  <div class="header__bottom-sublink">
                    <p>Постановка бухгалтерского и налогового учёта</p>
                    <svg>
                      <use xlink:href="assets/img/sprite.svg#arrow-header"></use>
                    </svg>
                    <ul class="header__bottom-submenu js-header-sublinks">
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Могилеве и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Бресте и области </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="header__bottom-link js-header-sublink">
                  <div class="header__bottom-sublink">
                    <p>Разовые бухгалтерские услуги</p>
                    <svg>
                      <use xlink:href="assets/img/sprite.svg#arrow-header"></use>
                    </svg>
                    <ul class="header__bottom-submenu js-header-sublinks">
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Могилеве и области </a>
                      </li>
                      <li>
                        <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Бресте и области </a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="header__bottom-item">
              <a href="#">Акции</a>
            </li>
            <li class="header__bottom-item">
              <a href="#">Цены</a>
            </li>
            <li class="header__bottom-item js-header-link">
              <p>О компании</p>
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
              <ul class="header__bottom-links js-header-links">
                <li class="header__bottom-link">
                  <a href="#"> Наши цены </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Контакты </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Акции </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Отзывы </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Наши сотрудники </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Вопрос/ответ </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Статьи </a>
                </li>
                <li class="header__bottom-link">
                  <a href="#"> Политика конфиденциальности </a>
                </li>
              </ul>
            </li>
            <li class="header__bottom-item">
              <a href="#">Статьи</a>
            </li>
            <li class="header__bottom-item">
              <a href="#">Контакты</a>
            </li>
          </ul>
        </nav>
        <a href="tel:+375447178585" class="header__bottom-phone btn btn-sec">
          <span>+375 (44) 717 85 85</span>
        </a>
      </div>
    </div>
  </div>
  <div class="header__menu js-burger-menu">
    <form class="header__menu-form">
      <button type="submit">
        <svg>
          <use xlink:href="assets/img/sprite.svg#search"></use>
        </svg>
      </button>
      <input type="text" placeholder="Что ищите?" />
    </form>
    <ul class="header__menu-items">
      <li class="header__menu-item js-dropdown">
        <div class="header__menu-tit js-dropdown-inner">
          <p>Бухгалтерские услуги</p>
          <svg>
            <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
          </svg>
        </div>
        <ul class="header__menu-sub js-dropdown-content">
          <li class="header__menu-sublink js-dropdown-sub">
            <div class="header__menu-subtit js-dropdown-sub-inner">
              <p>Аутсорсинг бухгалтерских услуг</p>
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
            <ul class="header__menu-sublist js-dropdown-sub-content">
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Могилеве и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Бресте и области </a>
              </li>
            </ul>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Абонентское бухгалтерское и налоговое обслуживание </a>
          </li>
          <li class="header__menu-sublink js-dropdown-sub">
            <div class="header__menu-subtit js-dropdown-sub-inner">
              <p>Налоговое консультирование</p>
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
            <ul class="header__menu-sublist js-dropdown-sub-content">
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Могилеве и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Бресте и области </a>
              </li>
            </ul>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Ведение бухгалтерского и налогового учета </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Бухгалтерские консультации </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Бухгалтерские услуги при УСН </a>
          </li>
          <li class="header__menu-sublink js-dropdown-sub">
            <div class="header__menu-subtit js-dropdown-sub-inner">
              <p>Бухгалтерские услуги для ООО</p>
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
            <ul class="header__menu-sublist js-dropdown-sub-content">
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Могилеве и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Бресте и области </a>
              </li>
            </ul>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Бухгалтерские услуги для ИП </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Ревизия бухгалтерского и налогового учета </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Восстановление бухгалтерского учёта </a>
          </li>
          <li class="header__menu-sublink js-dropdown-sub">
            <div class="header__menu-subtit js-dropdown-sub-inner">
              <p>Постановка бухгалтерского и налогового учёта</p>
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
            <ul class="header__menu-sublist js-dropdown-sub-content">
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Могилеве и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Бресте и области </a>
              </li>
            </ul>
          </li>
          <li class="header__menu-sublink js-dropdown-sub">
            <div class="header__menu-subtit js-dropdown-sub-inner">
              <p>Разовые бухгалтерские услуги</p>
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
            <ul class="header__menu-sublist js-dropdown-sub-content">
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского учета для ООО </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для ИП </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета для IT-компаний </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Витебске и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Гомеле и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Могилеве и области </a>
              </li>
              <li class="header__menu-subli">
                <a href="#"> Аутсорсинг бухгалтерского и налогового учета в Бресте и области </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="header__menu-item">
        <a href="#">Акции</a>
      </li>
      <li class="header__menu-item">
        <a href="#">Цены</a>
      </li>
      <li class="header__menu-item js-dropdown">
        <div class="header__menu-tit js-dropdown-inner">
          <p>О компании</p>
          <svg>
            <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
          </svg>
        </div>
        <ul class="header__menu-sub js-dropdown-content">
          <li class="header__menu-sublink">
            <a href="#"> Наши цены </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Контакты </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Акции </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Отзывы </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Наши сотрудники </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Вопрос/ответ </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Статьи </a>
          </li>
          <li class="header__menu-sublink">
            <a href="#"> Политика конфиденциальности </a>
          </li>
        </ul>
      </li>
      <li class="header__menu-item">
        <a href="#">Статьи</a>
      </li>
      <li class="header__menu-item">
        <a href="#">Контакты</a>
      </li>
    </ul>
    <a href="mailto:info@otchet.by" class="header__menu-link"> info@otchet.by </a>
    <div class="header__menu-socials socials">
      <a href="#" class="socials__whatsapp">
        <svg>
          <use xlink:href="assets/img/sprite.svg#whatsapp"></use>
        </svg>
      </a>
      <a href="#" class="socials__viber">
        <svg>
          <use xlink:href="assets/img/sprite.svg#viber"></use>
        </svg>
      </a>
      <a href="#" class="socials__telegram">
        <svg>
          <use xlink:href="assets/img/sprite.svg#telegram"></use>
        </svg>
      </a>
    </div>
    <button type="button" class="header__btn btn btn-prim">
      <span>Заказть услугу</span>
    </button>
  </div>
</header>
