<section class="questions section">
  <div class="container">
    <div class="questions__container">
      <h2 class="h2">Вопрос-ответ</h2>
      <div class="questions__blocks">
        <div class="questions__block js-dropdown">
          <div class="questions__block-inner js-dropdown-inner">
            <div class="questions__block-question">Оказываете только бухгалтерские услуги?</div>
            <div class="questions__block-arrow">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="questions__block-content content js-dropdown-content">
            <p>
              У нас гибкий график работы, поэтому в рабочие часы время ожидания ответа максимально минимизировано. Вы
              можете связаться с бухгалтером по любому удобному для вас способу коммуникации:
            </p>
            <p>1. Позвонить по телефону;</p>
            <p>2. Написать через электронную почту;</p>
            <p>3. Встретиться лично в нашем офисе.</p>
          </div>
        </div>
        <div class="questions__block js-dropdown">
          <div class="questions__block-inner js-dropdown-inner">
            <div class="questions__block-question">
              Оказываете ли Вы бухгалтерское обслуживание ООО гражданам Росии?
            </div>
            <div class="questions__block-arrow">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="questions__block-content content js-dropdown-content">
            <p>
              У нас гибкий график работы, поэтому в рабочие часы время ожидания ответа максимально минимизировано. Вы
              можете связаться с бухгалтером по любому удобному для вас способу коммуникации:
            </p>
            <p>1. Позвонить по телефону;</p>
            <p>2. Написать через электронную почту;</p>
            <p>3. Встретиться лично в нашем офисе.</p>
          </div>
        </div>
        <div class="questions__block js-dropdown">
          <div class="questions__block-inner js-dropdown-inner">
            <div class="questions__block-question">Сколько стоят Ваши услуги?</div>
            <div class="questions__block-arrow">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="questions__block-content content js-dropdown-content">
            <p>
              У нас гибкий график работы, поэтому в рабочие часы время ожидания ответа максимально минимизировано. Вы
              можете связаться с бухгалтером по любому удобному для вас способу коммуникации:
            </p>
            <p>1. Позвонить по телефону;</p>
            <p>2. Написать через электронную почту;</p>
            <p>3. Встретиться лично в нашем офисе.</p>
          </div>
        </div>
        <div class="questions__block js-dropdown">
          <div class="questions__block-inner js-dropdown-inner">
            <div class="questions__block-question">Проводятся ли акции?</div>
            <div class="questions__block-arrow">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="questions__block-content content js-dropdown-content">
            <p>
              У нас гибкий график работы, поэтому в рабочие часы время ожидания ответа максимально минимизировано. Вы
              можете связаться с бухгалтером по любому удобному для вас способу коммуникации:
            </p>
            <p>1. Позвонить по телефону;</p>
            <p>2. Написать через электронную почту;</p>
            <p>3. Встретиться лично в нашем офисе.</p>
          </div>
        </div>
        <div class="questions__block js-dropdown">
          <div class="questions__block-inner js-dropdown-inner">
            <div class="questions__block-question">Что мы готовы для вас сделать?</div>
            <div class="questions__block-arrow">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="questions__block-content content js-dropdown-content">
            <p>
              У нас гибкий график работы, поэтому в рабочие часы время ожидания ответа максимально минимизировано. Вы
              можете связаться с бухгалтером по любому удобному для вас способу коммуникации:
            </p>
            <p>1. Позвонить по телефону;</p>
            <p>2. Написать через электронную почту;</p>
            <p>3. Встретиться лично в нашем офисе.</p>
          </div>
        </div>
        <div class="questions__block js-dropdown">
          <div class="questions__block-inner js-dropdown-inner">
            <div class="questions__block-question">Зачем привлекать бухгалтера?</div>
            <div class="questions__block-arrow">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="questions__block-content content js-dropdown-content">
            <p>
              У нас гибкий график работы, поэтому в рабочие часы время ожидания ответа максимально минимизировано. Вы
              можете связаться с бухгалтером по любому удобному для вас способу коммуникации:
            </p>
            <p>1. Позвонить по телефону;</p>
            <p>2. Написать через электронную почту;</p>
            <p>3. Встретиться лично в нашем офисе.</p>
          </div>
        </div>
        <div class="questions__block js-dropdown">
          <div class="questions__block-inner js-dropdown-inner">
            <div class="questions__block-question">
              Что значит заказать ведение бухгалтерского учета у лидеров ниши?
            </div>
            <div class="questions__block-arrow">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="questions__block-content content js-dropdown-content">
            <p>
              У нас гибкий график работы, поэтому в рабочие часы время ожидания ответа максимально минимизировано. Вы
              можете связаться с бухгалтером по любому удобному для вас способу коммуникации:
            </p>
            <p>1. Позвонить по телефону;</p>
            <p>2. Написать через электронную почту;</p>
            <p>3. Встретиться лично в нашем офисе.</p>
          </div>
        </div>
        <div class="questions__block js-dropdown">
          <div class="questions__block-inner js-dropdown-inner">
            <div class="questions__block-question">Можно ли упростить ведение бухгалтерского учета?</div>
            <div class="questions__block-arrow">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-down"></use>
              </svg>
            </div>
          </div>
          <div class="questions__block-content content js-dropdown-content">
            <p>
              У нас гибкий график работы, поэтому в рабочие часы время ожидания ответа максимально минимизировано. Вы
              можете связаться с бухгалтером по любому удобному для вас способу коммуникации:
            </p>
            <p>1. Позвонить по телефону;</p>
            <p>2. Написать через электронную почту;</p>
            <p>3. Встретиться лично в нашем офисе.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
