<section class="reviews section">
  <div class="container">
    <div class="reviews__container">
      <div class="reviews__titles">
        <h2 class="h2">Отзывы о нашей компании</h2>
        <a href="#" class="reviews__link btn-arrow">
          <span>Все отзывы</span>
          <svg>
            <use xlink:href="assets/img/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
      <div class="reviews__slider">
        <div class="reviews__swiper swiper">
          <div class="reviews__wrapper swiper-wrapper">
            <div class="reviews__slide swiper-slide">
              <div class="reviews__content">
                <p class="reviews__txt">
                  Сотрудничество с ООО "Отчет Бай" с первых дней работы нашей студии стало открытием. Мы обратились за
                  помощью по рекомендации партнеров, также сотрудничающих с этой компанией, и остались довольны. Начиная
                  с первого контакта, наши впечатления только укреплялись. Менеджер компании проявил внимание и
                  понимание на всех этапах взаимодействия – от первичной встречи...
                </p>
                <p class="reviews__name">ООО «МИДО ПРОФИТ»</p>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__content">
                <p class="reviews__txt">
                  На протяжении всего срока существования нашей компании, мы доверили ведение бухгалтерии ООО "Отчет
                  Бай". Ведущий бухгалтер Екатерина продемонстрировала высший уровень профессионализма и внимания к
                  деталям, что сделало наше сотрудничество продуктивным. Особенно важно отметить, что наш путь с ООО
                  "Отчет Бай" прошел без каких-либо затруднений с налоговыми органами. Это является нагляд...
                </p>
                <p class="reviews__name">ООО «МИДО ПРОФИТ»</p>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__content">
                <p class="reviews__txt">
                  Выражаем благодарность ООО "Отчет Бай" за сопровождение в сложных вопросах хозяйственной деятельности
                  и учета. При обращении в ООО "Отчет Бай", мы поняли, что нашли надежного партнера. Специалисты
                  компании всегда были на связи, готовы оперативно помочь в любой ситуации. Их комплексный подход к
                  решению даже самых запутанных вопросов много говорит об их квалификации. Это...
                </p>
                <p class="reviews__name">ООО «МИДО ПРОФИТ»</p>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__content">
                <p class="reviews__txt">
                  Сотрудничество с ООО "Отчет Бай" с первых дней работы нашей студии стало открытием. Мы обратились за
                  помощью по рекомендации партнеров, также сотрудничающих с этой компанией, и остались довольны. Начиная
                  с первого контакта, наши впечатления только укреплялись. Менеджер компании проявил внимание и
                  понимание на всех этапах взаимодействия – от первичной встречи...
                </p>
                <p class="reviews__name">ООО «МИДО ПРОФИТ»</p>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__content">
                <p class="reviews__txt">
                  На протяжении всего срока существования нашей компании, мы доверили ведение бухгалтерии ООО "Отчет
                  Бай". Ведущий бухгалтер Екатерина продемонстрировала высший уровень профессионализма и внимания к
                  деталям, что сделало наше сотрудничество продуктивным. Особенно важно отметить, что наш путь с ООО
                  "Отчет Бай" прошел без каких-либо затруднений с налоговыми органами. Это является нагляд...
                </p>
                <p class="reviews__name">ООО «МИДО ПРОФИТ»</p>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__content">
                <p class="reviews__txt">
                  Выражаем благодарность ООО "Отчет Бай" за сопровождение в сложных вопросах хозяйственной деятельности
                  и учета. При обращении в ООО "Отчет Бай", мы поняли, что нашли надежного партнера. Специалисты
                  компании всегда были на связи, готовы оперативно помочь в любой ситуации. Их комплексный подход к
                  решению даже самых запутанных вопросов много говорит об их квалификации. Это...
                </p>
                <p class="reviews__name">ООО «МИДО ПРОФИТ»</p>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews__navigation slider-navigation">
          <div class="reviews__navigation-btns slider-navigation__btns">
            <button type="button" class="slider-navigation__btns-prev">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="slider-navigation__btns-next">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="reviews__bullets pagination__bullets"></div>
      </div>
    </div>
  </div>
</section>
