<section class="section team">
  <div class="container">
    <div class="team__container">
      <div class="team__titles">
        <h2 class="h2">Наша команда</h2>
        <a href="#" class="team__link btn-arrow">
          <span>Все сотрудники</span>
          <svg>
            <use xlink:href="assets/img/sprite.svg#arrow"></use>
          </svg>
        </a>
      </div>
      <div class="team__slider">
        <div class="team__swiper swiper">
          <div class="team__wrapper swiper-wrapper">
            <div class="team__slide swiper-slide">
              <div class="team__slide-img">
                <img src="assets/img/team/rojkova.png" alt="" />
              </div>
              <a href="#" class="team__slide-name"> Ксения Александровна Рожкова </a>
              <div class="team__slide-txt">Должность: Главный бухгалтер</div>
            </div>
            <div class="team__slide swiper-slide">
              <div class="team__slide-img">
                <img src="assets/img/team/shishkova.png" alt="" />
              </div>
              <a href="#" class="team__slide-name"> Екатерина Андреевна Шишкова </a>
              <div class="team__slide-txt">Должность: бухгалтер 2-ой категории</div>
            </div>
            <div class="team__slide swiper-slide">
              <div class="team__slide-img">
                <img src="assets/img/team/ivanova.png" alt="" />
              </div>
              <a href="#" class="team__slide-name"> Анна Алексеевна Иванова </a>
              <div class="team__slide-txt">Должность: бухгалтер 2-ой категории</div>
            </div>
            <div class="team__slide swiper-slide">
              <div class="team__slide-img">
                <img src="assets/img/team/rojkova.png" alt="" />
              </div>
              <a href="#" class="team__slide-name"> Ксения Александровна Рожкова </a>
              <div class="team__slide-txt">Должность: Главный бухгалтер</div>
            </div>
            <div class="team__slide swiper-slide">
              <div class="team__slide-img">
                <img src="assets/img/team/shishkova.png" alt="" />
              </div>
              <a href="#" class="team__slide-name"> Екатерина Андреевна Шишкова </a>
              <div class="team__slide-txt">Должность: бухгалтер 2-ой категории</div>
            </div>
            <div class="team__slide swiper-slide">
              <div class="team__slide-img">
                <img src="assets/img/team/ivanova.png" alt="" />
              </div>
              <a href="#" class="team__slide-name"> Анна Алексеевна Иванова </a>
              <div class="team__slide-txt">Должность: бухгалтер 2-ой категории</div>
            </div>
          </div>
        </div>
        <div class="team__navigation slider-navigation">
          <div class="team__navigation-btns slider-navigation__btns">
            <button type="button" class="slider-navigation__btns-prev">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="slider-navigation__btns-next">
              <svg>
                <use xlink:href="assets/img/sprite.svg#arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="team__bullets pagination__bullets"></div>
      </div>
    </div>
  </div>
</section>
