<section class="section work">
  <div class="container">
    <div class="work__container">
      <h2 class="h2">Как мы работаем?</h2>
      <ul class="work__list">
        <li class="work__list-item js-hover">
          <div class="work__list-title">01</div>
          <div class="work__list-content">
            <div class="work__list-tit">Первое обращение</div>
            <div class="work__list-txt js-hover-content">
              На данной стадии мы с вами определим спектр и объем оказываемых услуг, подберем для вас индивидуальный
              план, разработаем стратегию решений для вашего бизнеса, согласуем стоимость и ответим на все интересующие
              вас вопросы
            </div>
          </div>
        </li>
        <li class="work__list-item js-hover">
          <div class="work__list-title">02</div>
          <div class="work__list-content">
            <div class="work__list-tit">Анализ</div>
            <div class="work__list-txt js-hover-content">
              Проходит удаленно и занимает всего несколько часов. На данном этапе мы проверяем текущее состояние
              бухучета и определяем курс работы
            </div>
          </div>
        </li>
        <li class="work__list-item js-hover">
          <div class="work__list-title">03</div>
          <div class="work__list-content">
            <div class="work__list-tit">Переговоры</div>
            <div class="work__list-txt js-hover-content">
              На данной стадии мы с вами определим спектр и объем оказываемых услуг, подберем для вас индивидуальный
              план, разработаем стратегию решений для вашего бизнеса, согласуем стоимость и ответим на все интересующие
              вас вопросы
            </div>
          </div>
        </li>
        <li class="work__list-item js-hover">
          <div class="work__list-title">04</div>
          <div class="work__list-content">
            <div class="work__list-tit">Подписание договора</div>
            <div class="work__list-txt js-hover-content">
              На данной стадии мы с вами определим спектр и объем оказываемых услуг, подберем для вас индивидуальный
              план, разработаем стратегию решений для вашего бизнеса, согласуем стоимость и ответим на все интересующие
              вас вопросы
            </div>
          </div>
        </li>
        <li class="work__list-item js-hover">
          <div class="work__list-title">05</div>
          <div class="work__list-content">
            <div class="work__list-tit">Передача документов</div>
            <div class="work__list-txt js-hover-content">
              На данной стадии мы с вами определим спектр и объем оказываемых услуг, подберем для вас индивидуальный
              план, разработаем стратегию решений для вашего бизнеса, согласуем стоимость и ответим на все интересующие
              вас вопросы
            </div>
          </div>
        </li>
        <li class="work__list-item">
          <div class="work__list-title">06</div>
          <div class="work__list-content">
            <div class="work__list-tit">Приступаем к работе</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
