.articles {
  .h1 {
    margin: 0;
  }

  &__container {
    @include flexColumn;
    row-gap: 32px;
  }

  &__cards {
    @include grid(3);
    grid-gap: 20px;
  }

  &__pagination {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 12px;
  }
}

@media screen and (max-width: $tablet) {
  .articles {
    &__cards {
      @include grid(2);
    }

    &__pagination {
      grid-column-end: 3;
    }
  }
}

@media screen and (max-width: $mob) {
  .articles {
    &__cards {
      @include grid(1);
    }

    &__container {
      row-gap: 24px;
    }

    &__pagination {
      grid-column-end: 2;
    }
  }
}
