$text: #241f20;
$greyTxt: #555152;
$accent: #dc143c;
$grayBg: #f7f7f7;
$darkBg: #232628;
$greyDivider: #eeeff1;
$blackDivider: #393a3d;
$whiteLightTxt: rgba(255, 255, 255, 0.4);
$actionDarkBlue: #2c3f53;
$green: #25d366;
$grey: #979596;
$white: #fff;
$orange: #fdb400;
$purple: #7d3daf;
$blue: #2fa6da;
$redHover: #ff1a47;
$redPressed: #ba1133;
