.logo {
  @include sizes(fit-content, 40px);
  @include flexCenterStart;
  column-gap: 6.5px;
  padding: 7.5px 0;

  svg {
    @include sizes(25px, 25px);
    flex-shrink: 0;
  }

  span {
    font-family: Gilroy, sans-serif;
    font-size: 14.5px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
