#map {
  @include sizes(100%, 430px);

  .ymaps-2-1-79-ground-pane {
    filter: grayscale(100%);
  }
}

.office__map#map {
  @include sizes(740px, 300px);

  [class*='ymaps'] {
    border-radius: 8px;
  }
}

[class*='gototech'],
[class*='copyrights-pane'],
[class*='controls__control'],
[class*='controls__toolbar'],
[class*='controls__bottom'] {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: $tablet) {
  #map {
    height: 460px;
  }

  .office__map#map {
    @include sizes(100%, 300px);
  }
}

@media screen and (max-width: $mob) {
  #map {
    height: 450px;
  }

  .office__map#map {
    border-radius: 0;
  }
}
