.slider-navigation {
  svg {
    @include sizes(24px, 24px);
    fill: none;
    stroke: $text;
    stroke-width: 1.5;
    @include transition(stroke);
  }

  &__btns-next,
  &__btns-prev {
    @include flexCenter;
    @include sizes(36px, 36px);
    background-color: $grayBg;
    border-radius: 4px;

    @include hover {
      svg {
        stroke: $accent;
      }
    }
  }

  &__btns {
    width: calc(100% + 64px + 72px);
    @include flexCenterBetween;
    top: calc(50% - 36px / 2 - 50px / 2);
    left: -68px;
    position: absolute;
    z-index: 2;
  }
}

.pagination__bullets {
  @include flexCenter;
  column-gap: 12px;
  margin: 0 auto;
  width: fit-content;
  padding: 10px 0;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet {
  background: $grayBg;
  @include sizes(10px, 10px);

  &-active {
    background: $accent;
  }
}
