.h2 {
  @include h2;
  color: $text;
  margin-bottom: 40px;
}

.h1 {
  @include h1;
  margin-bottom: 40px;
}

@media screen and (max-width: $laptop) {
  .h2 {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: $mob) {
  .h2 {
    margin-bottom: 24px;
  }
}
